@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;900&family=Keania+One&family=Nosifer&display=swap');


*{
    

    font-family: serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

h1{
    /* font-family: "Nosifer"; */
    font-family: "Keania One", sans-serif;

    font-weight: 400;
    font-style: normal;
}
/* make hr thicker */
hr {
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}