

canvas{
    /* position: absolute; */
    /* float: right; */
    top: 0;
    right: 0;
    z-index: 999;
    /* border: 2px solid red; */
  }

  /* if screen size is LARGE (not mobile), float right */
  @media only screen and (min-width: 700px) {
    canvas{
      float: right;
    }
  }

  @media (max-width: 767px) {
    #bg {
      display: none;
    }
  }

